<h1>Combat initiative</h1>

<% if @encounter %>
  <h2>
    <%= @encounter.name %>
    <span class="xp"><%= @encounter.total_xp %> XP</span>
  </h2>

  <table class="table table-bordered" id="xp-table">
    <thead><tr>
      <th>Players</th>
      <th>XP each</th>
    </tr></thead>

    <tbody>
      <% (3..5).each do |player_count| %>
        <tr>
          <td> <%= player_count %> </td>
          <td> <%= @encounter.split_xp(player_count) %> </td>
        </tr>
      <% end -%>
    </tbody>
  </table>
<% end -%>

<table class="table table-bordered" id="initiative-table">
  <thead><tr>
    <th>Character</th>
    <th>Initiative score</th>
    <th></th>
  </tr></thead>

  <tbody id="characters-list"></tbody>
</table>

<form id="initiative-form" class="cf">
  <p>
    <input type="text" class="span6" id="input-line" />
    <a href="#" class="btn" id="start-combat"> Start </a>
    <a href="#" class="btn" id="advance-turn"> Next! </a>

    <% if @encounter %>
      <a href="#" class="btn" id="award-xp"> Award XP </a>
    <% end -%>
  </p>

  <p class="help-block" id="input-help">
    Separate character name from initiative score by a space (the last number is
    the initiative) and press <b>Enter</b> to add them to the table.
    Examples:<br/>
    "Jake 15" <br/>
    "Goblin Cutter 7" <br/>
    "The 4th Greatest Rogue 28" <br/>
    <del> "Someone with no initiative" </del>
  </p>
</form>

<% if @encounter %>
  <script type="text/javascript">
    $(function(){
      Initiative.addInitiatives(<%=raw @encounter.roll_initiative.to_json %>)
    })
  </script>
<% end -%>
