<h1>
  D&amp;D Insider Data
  <%= form_tag fetch_insider_data_path, method: 'get', class: 'form-inline' do %>
    <%= select_tag :type, options_for_select([nil]+%w[Power Monster Class]) %>
    <%= number_field_tag :id, nil, placeholder: 'ID' %>
    <%= submit_tag 'Fetch', class: 'btn' %>
  <% end %>
</h1>

<% @insider_data.each do |insider_datum| %>
  <div class="insider-datum card">
    <div class="details">
      <%= sanitize insider_datum.html, tags: DnDoR::DND_INSIDER_TAGS %>
    </div>
    <div class="identification">
      <%= insider_datum.data_type %> #<%= insider_datum.original_id %>
    </div>
    <div class="actions">
      <%= link_to 'Destroy', insider_datum,
        confirm: 'Are you sure?', method: :delete, class: 'btn-danger btn' %>
    </div>
  </div>
<% end %>
