<h1>Listing insider_data</h1>

<table>
  <tr>
    <th>Original</th>
    <th>Name</th>
    <th>Html</th>
    <th>Data type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @insider_data.each do |insider_datum| %>
  <tr>
    <td><%= insider_datum.original_id %></td>
    <td><%= insider_datum.name %></td>
    <td><%= insider_datum.html %></td>
    <td><%= insider_datum.data_type %></td>
    <td><%= link_to 'Show', insider_datum %></td>
    <td><%= link_to 'Edit', edit_insider_datum_path(insider_datum) %></td>
    <td><%= link_to 'Destroy', insider_datum, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Insider datum', new_insider_datum_path %>
