<h1>
  Character Races
  <%= link_to "New race", new_character_race_path, class: "btn" %>
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th> Name </th>
      <th> Description </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% @character_races.each do |character_race| -%>
      <tr>
        <td>
          <%= link_to character_race.name, character_race_path(character_race) %>
        </td>
        <td>
          <%= character_race.description %>
        </td>
        <td>
          <%= link_to "Show", character_race, class: "btn" %>
          <%= link_to "Edit", edit_character_race_path(character_race),
                class: "btn" %>
          <%= link_to "Destroy", character_race_path(character_race),
                method: :delete, confirm: "Are you sure?",
                class: "btn btn-danger" %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>
