<p id="notice"><%= notice %></p>



<p>
  <b>Name</b>
  <%= @character_race.name %>
</p>



<div class="form-actions">
  <%= link_to "Back", character_races_path, class: 'btn'  %>
  <%= link_to "Edit", edit_character_race_path(@character_race), class: 'btn' %>
  <%= link_to "Delete", character_race_path(@character_race),
        method: "delete", confirm: "Are you sure?", class: 'btn btn-danger' %>
</div>
