<% content_for :sidebar do %>
  <h3> Actions </h3>
  <ul class="nav nav-list">
    <li> <%= link_to 'New NPC', new_non_player_character_path %> </li>
  </ul>
<% end -%>

<h1> Characters </h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Race</th>
      <th>Level</th>
      <th>Str</th>
      <th>Con</th>
      <th>Dex</th>
      <th>Int</th>
      <th>Wis</th>
      <th>Cha</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= character.class %></td>
        <td><%= link_to character.name, character %></td>
        <td><%= character.character_race.try(:name) %></td>
        <td><%= character.level %></td>

        <td><%= character.strength %></td>
        <td><%= character.constitution %></td>
        <td><%= character.dexterity %></td>
        <td><%= character.intelligence %></td>
        <td><%= character.wisdom %></td>
        <td><%= character.charisma %></td>

        <td>
          <%= link_to 'Show', character, class: "btn" %>
          <%= link_to 'Edit', edit_non_player_character_path(character),
                class: "btn" %>
          <%= link_to 'Destroy', character_path(character),
                confirm: 'Are you sure?', method: :delete,
                class: "btn-danger btn" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
