<h1>
  Characters
  <%= link_to 'New NPC', new_non_player_character_path, :class => "btn" %>
</h1>

<% @characters.each do |character| %>
  <div class="character card">
    <% if character.is_a?(NonPlayerCharacter) %>
      <%= render "non_player_characters/npc_card", :npc => character %>

      <div class="actions">
        <%= link_to 'Show', character, class: "btn" %>
        <%= link_to 'Edit', edit_non_player_character_path(character),
          class: "btn" %>
        <%= link_to 'Destroy', character_path(character),
          confirm: 'Are you sure?', method: :delete, class: "btn-danger btn" %>
      </div>
    <% else -%>
      <%# Not implemented yet %>
      <%= debug character %>
    <% end -%>
  </div>
<% end %>
