<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @character.name %>
</p>

<p>
  <b>Level:</b>
  <%= @character.level %>
</p>

<p>
  <b>Character class code:</b>
  <%= @character.character_class_code %>
</p>

<p>
  <b>Character race code:</b>
  <%= @character.character_race_code %>
</p>

<p>
  <b>Strength:</b>
  <%= @character.strength %>
  <%= @character.strength.modifier %>
</p>

<p>
  <b>Constitution:</b>
  <%= @character.constitution %>
  <%= @character.constitution.modifier %>
</p>

<p>
  <b>Dexterity:</b>
  <%= @character.dexterity %>
  <%= @character.dexterity.modifier %>
</p>

<p>
  <b>Intelligence:</b>
  <%= @character.intelligence %>
  <%= @character.intelligence.modifier %>
</p>

<p>
  <b>Wisdom:</b>
  <%= @character.wisdom %>
  <%= @character.wisdom.modifier %>
</p>

<p>
  <b>Charisma:</b>
  <%= @character.charisma %>
  <%= @character.charisma.modifier %>
</p>


<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
