<%= simple_form_for @non_player_character,
      html: {class: "form-horizontal"} do |f| %>

  <% if f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= f.error_notification %>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :level %>
  <%= f.input :alignment, collection: Character::ALIGNMENTS %>
  <%= f.input :size, collection: Character::SIZES %>
  <%= f.input :character_race_id, collection: CharacterRace.for_select %>
  <%= f.input :character_role_code %>
  <%= f.input :xp_value %>

  <%= f.input :strength %>
  <%= f.input :constitution %>
  <%= f.input :dexterity %>
  <%= f.input :intelligence %>
  <%= f.input :wisdom %>
  <%= f.input :charisma %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
