<%= simple_form_for @non_player_character,
      html: {class: "form-horizontal"} do |f| %>

  <% if f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= f.error_notification %>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :level %>
  <%= f.input :character_race_id, collection: CharacterRace.for_select,
    input_html: {class: "chzn-select"} %>
  <%= f.input :character_roles, collection: ROLES + SUB_ROLES,
    input_html: {class: "chzn-select", multiple: true} %>

  <%= f.input :size, collection: SIZES,
    input_html: {class: "chzn-select"} %>
  <%= f.input :xp_value %>

  <%= f.input :health_points %>
  <%= f.input :armor_class %>
  <%= f.input :custom_fortitude %>
  <%= f.input :custom_reflex %>
  <%= f.input :custom_will %>
  <%= f.input :speed %>
  <%= f.input :senses, collection: SENSES,
    input_html: {class: "chzn-select", multiple: true} %>

  <%= f.input :strength %>
  <%= f.input :constitution %>
  <%= f.input :dexterity %>
  <%= f.input :intelligence %>
  <%= f.input :wisdom %>
  <%= f.input :charisma %>

  <%= f.input :alignment, collection: ALIGNMENTS,
    input_html: {class: "chzn-select"} %>
  <%= f.input :languages, collection: LANGUAGES,
    input_html: {class: "chzn-select", multiple: true} %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
