<%= form_for @non_player_character,
      :html => {:class => "form form-horizontal"} do |f| %>
  <% if @non_player_character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@non_player_character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @non_player_character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :level, :class => "control-label" %>
    <div class="controls">
      <%= f.number_field :level %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :alignment, :class => "control-label" %>
    <div class="controls">
      <%= f.select :alignment, options_for_select(Character::ALIGNMENTS) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :character_race_code, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :character_race_code %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :character_role_code, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :character_role_code %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :xp_value, :class => "control-label" %>
    <div class="controls">
      <%= f.number_field :xp_value %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :strength, :class => "control-label" %>
    <div class="controls">
      <%= f.number_field :strength %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :constitution, :class => "control-label" %>
    <div class="controls">
      <%= f.number_field :constitution %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dexterity, :class => "control-label" %>
    <div class="controls">
      <%= f.number_field :dexterity %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :intelligence, :class => "control-label" %>
    <div class="controls">
      <%= f.number_field :intelligence %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :wisdom, :class => "control-label" %>
    <div class="controls">
      <%= f.number_field :wisdom %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :charisma, :class => "control-label" %>
    <div class="controls">
      <%= f.number_field :charisma %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
