<%= form_for(@non_player_character) do |f| %>
  <% if @non_player_character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@non_player_character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @non_player_character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :level %><br />
    <%= f.number_field :level %>
  </div>

  <div class="field">
    <%= f.label :character_race_code %><br />
    <%= f.text_field :character_race_code %>
  </div>
  <div class="field">
    <%= f.label :character_role_code %><br />
    <%= f.text_field :character_role_code %>
  </div>

  <div class="field">
    <%= f.label :strength %><br />
    <%= f.number_field :strength %>
  </div>
  <div class="field">
    <%= f.label :constitution %><br />
    <%= f.number_field :constitution %>
  </div>
  <div class="field">
    <%= f.label :dexterity %><br />
    <%= f.number_field :dexterity %>
  </div>
  <div class="field">
    <%= f.label :intelligence %><br />
    <%= f.number_field :intelligence %>
  </div>
  <div class="field">
    <%= f.label :wisdom %><br />
    <%= f.number_field :wisdom %>
  </div>
  <div class="field">
    <%= f.label :charisma %><br />
    <%= f.number_field :charisma %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
