<p id="notice"><%= notice %></p>



<table class="npc-card">
  <thead>
    <tr> <th colspan="3">
        <span class="name"><%= @non_player_character.name %></span>
        <span class="level-and-role">
          Level
          <%= @non_player_character.level %>
          <%= @non_player_character.character_role_code %>
        </span>
    </th> </tr>

    <tr> <th colspan="3">
        <span class="xp-value">
          XP
          <%= @non_player_character.xp_value %>
        </span>
    </th> </tr>
  </thead>

  <tbody class="combat-stats">
    <tr>
      <td>
        <b>Initiative</b> <%= "%+d" % @non_player_character.check(:initiative) %>
      </td>

      <td colspan="2">
        <b>Senses</b>
        Perception
        <%= "%+d" % @non_player_character.wisdom.modifier %>
      </td>
    </tr>
  </tbody>

  <tbody class="more-stats">
    <tr>
      <td>
        <b>Alignment</b>
        <%= @non_player_character.alignment %>
      </td>

      <td colspan="2">
        <b>Languages</b> Marklar, Marklar
      </td>
    </tr>

    <tr>
      <td>
        <b>Str</b>
        <%= @non_player_character.strength %>
        (<%= "%+d" % @non_player_character.check(:strength) %>)
      </td>
      <td>
        <b>Dex</b>
        <%= @non_player_character.dexterity %>
        (<%= "%+d" % @non_player_character.check(:dexterity) %>)
      </td>
      <td>
        <b>Wis</b>
        <%= @non_player_character.wisdom %>
        (<%= "%+d" % @non_player_character.check(:wisdom) %>)
      </td>
    </tr>

    <tr>
      <td>
        <b>Con</b>
        <%= @non_player_character.constitution %>
        (<%= "%+d" % @non_player_character.check(:constitution) %>)
      </td>
      <td>
        <b>Int</b>
        <%= @non_player_character.intelligence %>
        (<%= "%+d" % @non_player_character.check(:intelligence) %>)
      </td>
      <td>
        <b>Cha</b>
        <%= @non_player_character.charisma %>
        (<%= "%+d" % @non_player_character.check(:charisma) %>)
      </td>
    </tr>
  </tbody>
</table>

<p>
  <b>Level bonus</b>
  <%= "%+d" % @non_player_character.level_bonus %>
</p>

<p>
  <b>Character race</b>
  <%= @non_player_character.character_race.try(:name) %>
</p>



<div class="form-actions">
  <%= link_to "Back", characters_path, class: 'btn'  %>
  <%= link_to "Edit", edit_non_player_character_path(@non_player_character),
        class: 'btn' %>
  <%= link_to "Delete", character_path(@non_player_character),
        method: "delete", confirm: "Are you sure?", class: 'btn btn-danger' %>
</div>
