<p id="notice"><%= notice %></p>



<table class="npc-card">
  <thead>
    <tr> <th colspan="3">
      <span class="name"><%= @non_player_character.name %></span>
      <span class="level-and-role">
        Level
        <%= @non_player_character.level %>
        <%= @non_player_character.character_role %>
      </span>
    </th> </tr>

    <tr> <th colspan="3">
      <span class="description">
        <%= @non_player_character.size.titleize %>
        <%= @non_player_character.character_race.description %>
      </span>
      <span class="xp-value">
        XP
        <%= @non_player_character.xp_value %>
      </span>
    </th> </tr>
  </thead>

  <tbody class="combat-stats">
    <tr>
      <td colspan="2">
        <strong>HP</strong> <%= @non_player_character.health_points %>;
        <strong>Blodied</strong> <%= @non_player_character.bloodied_hp %>
      </td>
      <td class="to-the-right">
        <strong>Initiative</strong>
        <%= "%+d" % @non_player_character.check(:initiative) %>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <strong>AC</strong> <%= @non_player_character.armor_class %>,
        <strong>Fortitude</strong> <%= @non_player_character.fortitude %>,
        <strong>Reflex</strong> <%= @non_player_character.reflex %>,
        <strong>Will</strong> <%= @non_player_character.will %>
      </td>
      <td class="to-the-right">
        <strong>Perception</strong>
        <%= "%+d" % @non_player_character.check(:perception) %>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <strong>Speed</strong> <%= @non_player_character.speed %>
      </td>
      <td class="to-the-right">
        <%= @non_player_character.senses.reject(&:blank?) * ", " %>
      </td>
    </tr>
  </tbody>

  <tbody class="ability-scores">
    <tr>
      <td>
        <strong>Str</strong>
        <%= @non_player_character.strength %>
        (<%= "%+d" % @non_player_character.check(:strength) %>)
      </td>
      <td>
        <strong>Dex</strong>
        <%= @non_player_character.dexterity %>
        (<%= "%+d" % @non_player_character.check(:dexterity) %>)
      </td>
      <td>
        <strong>Wis</strong>
        <%= @non_player_character.wisdom %>
        (<%= "%+d" % @non_player_character.check(:wisdom) %>)
      </td>
    </tr>

    <tr>
      <td>
        <strong>Con</strong>
        <%= @non_player_character.constitution %>
        (<%= "%+d" % @non_player_character.check(:constitution) %>)
      </td>
      <td>
        <strong>Int</strong>
        <%= @non_player_character.intelligence %>
        (<%= "%+d" % @non_player_character.check(:intelligence) %>)
      </td>
      <td>
        <strong>Cha</strong>
        <%= @non_player_character.charisma %>
        (<%= "%+d" % @non_player_character.check(:charisma) %>)
      </td>
    </tr>
  </tbody>

  <tbody class="more-info">
    <tr>
      <td>
        <strong>Alignment</strong>
        <%= @non_player_character.alignment %>
      </td>

      <td colspan="2">
        <strong>Languages</strong>
        <%= @non_player_character.languages.reject(&:blank?) * ", " %>
      </td>
    </tr>
  </tbody>
</table>



<div class="form-actions">
  <%= link_to "Back", characters_path, class: 'btn'  %>
  <%= link_to "Edit", edit_non_player_character_path(@non_player_character),
        class: 'btn' %>
  <%= link_to "Delete", character_path(@non_player_character),
        method: "delete", confirm: "Are you sure?", class: 'btn btn-danger' %>
</div>
