<p id="notice"><%= notice %></p>

<%= render 'npc_card', :npc => @non_player_character %>

<div class="form-actions">
  <%= link_to "Back", characters_path, class: 'btn'  %>
  <%= link_to "Edit", edit_non_player_character_path(@non_player_character),
        class: 'btn' %>
  <%= link_to "Delete", character_path(@non_player_character),
        method: "delete", confirm: "Are you sure?", class: 'btn btn-danger' %>
</div>
